* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  background-color: aquamarine;
  max-width: 100%;
  /* rimuovere heigt */
  height: 90px;
}

.container {
 margin: 0 auto;
 /* rimuovere height */
 height: 70px;
 max-width: 900px;
 background-color:rgb(37, 112, 178) ;
}

.d-flex {
  display: flex;
}

ul li {
  list-style: none;
}

header .navbar .row{
 align-items: center;
 justify-content: space-around;
 color: white;
 /* da non rimuovere height altirmenti la scritta si sposta sopra */
 height: 100%;
}

 ul li a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.button {
  background-color: white;
  color: black;
  border-radius: 40%;
  padding: 6px 8px;
  font-size: 12px;
  border-color: white;
}

/* secondo container, sotto header */
.background-2 {
  background-color: burlywood;
}

.blue {
  background-color: cadetblue;
  /* da rimuovere altezza */
  min-height: 200px;
  text-align: center;
  align-items: center;
  height: 100%;
}

.h1 {
  font-size: 40px;
  font-family: sans-serif;
  padding: 17px;
  color:white
}

.p1 {
  color:white;
  font-size: 15px;
  padding-bottom: 5px;
}

.mac , .discord {
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 10px;
}

/* terzo container */

.background-white {
  background-color: white;
  /* da rimuovere */
  min-height: 200px;
}

.white {
  background-color: white;
}

.col-img {
  background-color: rgb(199, 122, 199);
  width: 60%;
  /* da rimuovere */
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-text {
  background-color: rgb(116, 58, 103);
  width: 40%;
  /* da rimuovere */
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* quarto container */
.background-gray {
  background-color: rgb(246,247,247);
 /* da rimuovere */ 
 min-height: 200px;
}

.gray {
  background-color:rgb(246,247,247);
}

.col-text-gray {
  background-color: rgb(116, 58, 103);
  width: 60%;
  /* da rimuovere */
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-img-gray {
  background-color: rgb(199, 122, 199);
  width: 60%;
  /* da rimuovere */
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.col-tot{
  background-color: rgb(129, 129, 195);
  width: 100%;
  /* da rimuovere */
  min-height: 100px;
}
  
/* ultimo container */
.background-black{
  background-color: black;
  min-height: 300px;
}

.black {
  flex-direction: column;
}

.end {
  justify-content: space-around;
  justify-content: center;
}

.col-pos {
  width: 40%;
  height: 300px;
  border:dashed black;
  background-color: aqua;
}

.col-end {
  width: 15%;
  height: 300px;
  border:dashed black;
  background-color:aquamarine;
}

.final {
 min-height: 20px;
}

.end-c{
  background-color: rgb(215, 132, 132);
}


.final-{
  justify-content: space-between;

}